@import url("styles/header.css");
@import url("styles/banner.css");
@import url("styles/carrossel.css");
@import url("styles/topicos.css");
@import url("styles/contato.css");
@import url("styles/rodapé.css");

:root {
    --cor-de-fundo: #2F4F4F;
    --branco: #FFFFFF;
    --SpringGreen: #00FF7F;
    --MediumPurple: linear-gradient(97.54deg, #9400D3 35.49%, #9370DB 165.37%);
    --fonte-principal: "Poppins";
    --SanyBrown: #F4A460;
}

body {
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}
